
.header {
    background-image: linear-gradient(red,black);
    padding: 10px 0;
  }
  
  .container {
    
    justify-content: center; 
    align-items: center; 
    
  }
  
  h1 {
    font-size: 30px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-align: center;
    color: aliceblue;
  }